{% extends 'base.html' %}

{% block content %}
<h1>Vue Code In File Below</h1>
<div id="{{ vue_element }}"> {{ vueTestData }} [[vueTestData ]]
	<h2>{{vueTestData}} [[vueTestData ]]</h2>
</div>
<script>
	
	import 'blog.vue'
</script>
{% endblock content %}