<template>
  <NavBar></NavBar>
  
    <div class="submit-form">
      <h5 style="text-align: center;padding-top: 20px;"><strong>Add New Post</strong> </h5>
      <div v-if="!submitted">
        
          <div class="mb-12">
            <label for="title" class="form-label"> Title</label>
            <input type="text" id="title"  v-model="tutorial.title" name="title" class="form-control" required
              aria-describedby="emailHelp"/>
          </div>
          
        
  
        <div class="mb-12">
          <label for="description" class="form-label">Description</label>
          <input
            class="form-control"
            id="body"
            required
            v-model="tutorial.body"
            name="body"
            type="text"
             aria-describedby="emailHelp"
          />
        </div>
  
        <button @click="saveTutorial" class="btn btn-success" style="margin-top:10px">Submit</button>
      </div>
  
      <div v-else>
        <h4>You submitted successfully!</h4>
        <button class="btn btn-success" @click="newTutorial">Add More Posts</button>
      </div>
    </div>
 
  </template>
  
  <script>
import NavBar from '../components/Navbar'
  import TutorialDataService from "../services/TutorialDataService"
  
  export default {
    name: "add_tutorial",
    components: {
      NavBar
    },
    data() {
      return {
        tutorial: {
          id: null,
          title: "",
          body: "",
          published: false
        },
        submitted: false
      }
    },
    methods: {
      saveTutorial() {
        var data = {
          title: this.tutorial.title,
          body: this.tutorial.body
        }
  
        TutorialDataService.create(data)
          .then(response => {
            this.tutorial.id = response.data.id
            console.log(response.data)
            this.submitted = true
          })
          .catch(e => {
            console.log(e)
          });
      },
      
      newTutorial() {
        this.submitted = false
        this.tutorial = {}
      }
    }
  };
  </script>
  
  <style>
 
  .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  .submit-form {
    box-shadow:2px 2px 10px 2px;
    max-width: 600px;
    margin: 50px auto ;
    padding:10px
  }
  </style>