<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CURD Application</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          
          <a class="nav-link active" aria-current="page" href="/">List Of Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/add">Add New Post</a>
        </li>
        
      </ul>
      
    </div>
  </div>
</nav>
  </template>
  
  <script>
    export default {
      name: 'NavBar',
    }
  </script>
  
  <style scoped>
      
  </style>