<template>
  <NavBar></NavBar>
    <!--<div class="list row">
      <div class="col-md-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search by title"
            v-model="title"/>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"
              @click="searchTitle"
            >
              Search
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h4>Tutorials List</h4>
        <ul class="list-group">
          <li class="list-group-item"
            :class="{ active: index == currentIndex }"
            v-for="(tutorial, index) in tutorials"
            :key="index"
            @click="setActiveTutorial(tutorial, tutorial.id)"
          >
            {{ tutorial.title }}
          </li>
        </ul>
  
       <button class="m-3 btn btn-sm btn-danger" @click="removeAllTutorials">
          Remove All
        </button>
      </div>
      <div class="col-md-6">
        <div v-if="currentTutorial">
          <h4>Tutorial</h4>
          <div>
            <label><strong>Title:</strong></label> {{ currentTutorial.title }}
          </div>
          <div>
            <label><strong>Description:</strong></label> {{ currentTutorial.body }}
          </div>
          <div>
            <label><strong>Status:</strong></label> {{ currentTutorial.published ? "Published" : "Pending" }}
          </div>
  
          <a class="badge badge-warning"
            :href="'/tutorials/' + currentTutorial.id">
            Edit
          </a>
        </div>
        <div v-else>
          <br />
          <p>Please click on a Tutorial...</p>
        </div>
      </div>
    </div>-->
<div class="container">
  <h5 style="text-align: center;padding-top: 20px;"><strong>List Of Posts</strong> </h5>
  <table class="table table-striped table-hover table-bordered">
    
    <thead>
      
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col" colspan=2>Operations</th>
      </tr>
    </thead>
    <tbody >
      <tr :class="{ active: index == currentIndex }"
            v-for="(tutorial, index) in tutorials"
            :key="index">
        <td>{{tutorial.id}}</td>
        <th scope="row">{{ tutorial.title }}</th>
        <td>{{tutorial.body}}</td>
        <td><button type="button" class="btn" data-bs-toggle="modal" v-bind:data-bs-target="'#mdl'+tutorial.id" >
          <i class="bi bi-pencil-square"></i></button></td>
        <td><i class="bi bi-trash3" style="color:red" @click="deleteTutorial(tutorial.id)"></i></td>


        <!-- Modal -->
        <div class="modal fade" v-bind:id="'mdl'+tutorial.id" tabindex="-1" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Post Detail </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label"> Title</label>
                    <input type="text" id="title"  v-model="tutorial.title" name="title" class="form-control"
                      aria-describedby="emailHelp"/>
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Description</label>
                    <textarea class="form-control" id="body" v-model="tutorial.body" name="body"
                     aria-label="With textarea" ></textarea>
                  </div>
                  
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" @click="updateTutorial(tutorial.id,tutorial.title,tutorial.body)">Save changes</button>
              </div>
            </div>
          </div>
        </div>



      </tr>
      
    </tbody>
  </table>
</div>




  </template>
  
  <script>
  import NavBar from '../components/Navbar'
  import TutorialDataService from "../services/TutorialDataService"
  
  export default {
    name: "tutorials_list",
    components: {
      NavBar
    },
    data() {
      return {
        tutorials: [],
        currentTutorial: null,
        currentIndex: -1,
        title: ""
      };
    },
    methods: {
      retrieveTutorials() {
        TutorialDataService.getAll()
          .then(response => {
            this.tutorials = response.data
            console.log(response.data)
          })
          .catch(e => {
            console.log(e)
          });
      },
  
      refreshList() {
        this.retrieveTutorials()
        this.currentTutorial = null
        this.currentIndex = -1
      },
  
      setActiveTutorial(tutorial, index) {
        
        this.currentTutorial = tutorial
 
        this.currentIndex = index
        
      },
      getTutorial(id) {
        TutorialDataService.get(id)
          .then(response => {
            this.currentTutorial = response.data
            console.log(response.data)
            
          })
          .catch(e => {
            console.log(e)
          });
          
        },
          
      updateTutorial(id,title,body) {
        alert("success")
        
        var data = {
          title: title,
          body: body
        }
        
        TutorialDataService.update(id,data)
          .then(response => {
            console.log(response.data)
            
            //this.refreshList()
            //this.message = 'The tutorial was updated successfully!'
          })
          .catch(e => {
            
            console.log(e)
          
          })
      
      },
      deleteTutorial(id) {
        
        TutorialDataService.delete(id)
          .then(response => {
            console.log(response.data);
            this.refreshList()
            
            
          })
          .catch(e => {
            console.log(e);
          });
      },
  
  /*
      removeAllTutorials() {
        TutorialDataService.deleteAll()
          .then(response => {
            console.log(response.data)
            this.refreshList()
          })
          .catch(e => {
            console.log(e)
          });
      },
      
      searchTitle() {
        TutorialDataService.findByTitle(this.title)
          .then(response => {
            this.tutorials = response.data
            console.log(response.data)
          })
          .catch(e => {
            console.log(e)
          });
      }*/
    },
    mounted() {
      this.retrieveTutorials()
      
    }
  };
  </script>
  
  <style>
  .container{
    margin-top: 50px;
    
    box-shadow:2px 2px 10px 2px;
    

  }
  .list {
    text-align: left;
    max-width: 750px;
    margin: auto;
  }
  </style>