{% load static %}
<html>
<head>
	{% block css %}
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/staff_test.css' %}">
	{% endblock css %}
	{% block js %}
	<!--<script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/axios.min.js' %}"></script>-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios@1.3.1/dist/axios.min.js"></script>
	
	{% endblock js %}

<!-- This is a development version of Vue.js! -->

</head>

<body>
	
	{% block content %}
	<div id="app_basic" v-bind:title="timestamp" class="experiment-block"> {{ message }} ...........</div>
	{% endblock content %}
</body>


{% block vuescript %}
<script>
	new Vue({
	el: "#app_basic",
	data: {
		message: "🐵 Hello World 🔮",
		timestamp: `Timestamp ${new Date().toLocaleString()}`,
	},
	})
	/* include 'blog.vue'*/
</script>
  {% endblock vuescript %}

</html>