<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Test</title>

    <!-- This is a development version of Vue.js! -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- import stylesheet -->
    <link rel="stylesheet" href="styles.css" />

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
  </head>

  <body>
    <!-- Basic usage -->

    <div id="app_basic" v-bind:title="timestamp" class="experiment-block">{{ message }}</div>

    <script>
      new Vue({
        el: "#app_basic",
        data: {
          message: "🐵 Hello World 🔮",
          timestamp: `Timestamp ${new Date().toLocaleString()}`,
        },
      })
    </script>
  </body>
</html>